.suggestion{
    border: 1px solid #DBDBDB;
    // position: fixed;
    // top: 33%;
    // left: 63%;  
    // width: 19%;
    height: 205px;
    overflow-y: hidden;
    margin-top: 10px;
    .container{
      background-color: white;
    }
    .suggest-head{
      width: 303px;
      top: 507px;
      background-color: white;
      height: 45px;
      span{
        margin-top: 10px;
      }
      .suggest-tag{
        float: left;
        margin-left: 20px;
        color: #A8A5C3;
        font-size: 14px;
      }
      .see-all{
        margin-left: 70px;
        font-size: 13px;
      }
    }
   
}

.suggestuser{
  display: flex;
  // padding: 9px 18px;
  overflow-y: hidden;
  font-size: 14px;
  height: 52px;
  // margin-left: 15px;
  img{
      width: 35px;
      height: 35px;
      border-radius: 50%;
  }
  label{
      // margin-left: 13px;
      margin-bottom: 0px;
  }
  .user-disc{
      display: flex;
      flex-direction: column;
      // padding-right: 39px;
      width: 140px;
      .mins-ago{
        margin-bottom: -4px;
        font-size: 12px;
        color: #A8A5C3; 
      }
  }
  .btn{
    width: 65px;
    height: 35px;
    font-size: 14px;
    margin-left: 35px;
    border: none;
    color: #389af1;
  }
}


@media only screen and (max-width: 414px) {
  .suggestion{
    display: none;
  }
}

@media only screen and (min-width: 667px) {
  .suggestion{
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .suggestion{
    display: none;
  }
}

@media only screen and (min-width: 1024px) {
  .suggestion{
    margin-left: 25px;
    width: 273px;
    // margin-top: 420px;
    // position: fixed;
    display: block;
    .suggest-head{
      width: 266px;
    }
    .suggestuser{
      width:255px;
      .btn{
        margin-left: 15px;
      }
    }
  }
}