.instapost{
  padding-top: 100px;
  width: 65%
}

.instapost-content{
  border: 1px solid #DBDBDB;
  width: 85%;
  height: 795px;
  margin-top: 40px;
  margin-left: 105px; 
  display: flex;
  flex-direction: column;
  .post-header{
    border-bottom: 1px solid #DBDBDB;
    width: 100%;
    height: 60px;
    font-size: 15px;
    span{
      float: left;
    }
    img{
        width: 40px;
        height: 40px;
        border-radius: 47%;
        margin-top: 7px;
        margin-left: 15px;
    }
    .pusername {
        margin-left: 15px;
        margin-top: 15px;
    }
    .btn{
      margin-top: 12px;
      float: right;
      width: 55px;
    }
  }
  .post-content{
    // height: 650px;
    img{
      height: 545px;
      width: 100%;
    }
  }

}

.post-option{
  margin-top: 12px;
  padding-bottom: 10px;
  .opt-heart{
    float: left;
    margin-left: 10px;
    img{
      width: 22px;
      height: 24px;
    }
  }
  .opt-comment{
    float: left;
    margin-left: 10px;
    img{
      width: 22px;
      height: 22px;
    }
  }
  .opt-share{
    float: left;
    margin-left: 10px;
    img{
      width: 22px;
      height: 22px;
    }
  }
  .opt-save{
    float: right;
    margin-right: 15px;
    img{
      width: 18px;
    }
  }
}

.likes{
  // margin-left: 20px;
  float: left;
  width: 100%;
  font-size: 15px;
  label{
    float: left;
    margin-left: 17px;
  }
}

.post-caption{
  float: left;
  // margin-top: 10px;
  // margin-left: -57px;
  width: 100%;
  font-size: 15px;
  label{
    float: left;
    margin-left: 17px;
  }
}

.post-mins-ago{
  // margin-top: 10px;
  width: 100%;
  font-size: 12px;
  color: grey;
  label{
    float: left;
    margin-left: 17px;
  }
}

.comment-box{
  width: 100%;
  background-color: white;
  border-top: 1px solid #DBDBDB;
  input[type=text]{
    float: left;
    margin-left: 15px;
    width: 535px;
    border: none;
    margin-top: 8px;
  }
  .btn{
    color: #389AF1;
    margin-top: 6px;
    font-size: 14px;
  }
}

.modal{
  margin-top: 18%;
  width: 405px;
  margin-left: 39%;
  .modal-body{
    display: flex;
    flex-direction: column;
    span{
      text-align: center;
      border-bottom: 1px solid #DBDBDB;
      padding: 12px 5px;
    }
  }
}


@media only screen and (max-width: 414px) {
  .instapost{
    width: 100%;
    margin-top: 60px;
  }

  .instapost-content{
    width: 100%;
    margin-left: 0%;
    margin-top: 0px;
  }

  .comment-box{
    input[type=text]{
      width: 275px;
    }
  }
  
  .modal{
    margin-top: 50%;
    width: 300px;
    margin-left: 8%;
  }
}

@media only screen and (min-width: 667px) {
  .instapost{
    width: 100%;
    margin-top: 60px;
    margin-left: -36px;
  }

  .instapost-content{
    width: 600px;
    margin-left: 0%;
    margin-top: 10px;
  }

  .comment-box{
    input[type=text]{
      width: 275px;
    }
  }
  
  .modal{
    margin-top: 0%;
    width: 300px;
    margin-left: 29%;
  }
}

@media only screen and (min-width: 740px) {
  .instapost{
    width: 100%;
    margin-top: 60px;
    margin-left: -36px;
  }

  .instapost-content{
    width: 600px;
    margin-left: 0%;
    margin-top: 10px;
  }

  .comment-box{
    input[type=text]{
      width: 275px;
    }
  }
  
  .modal{
    margin-top: 0%;
    width: 300px;
    margin-left: 31%;
  }
}

@media only screen and (min-width: 768px) {
  .instapost{
    width: 100%;
    margin-top: 85px;
    margin-left: 57px;
  }

  .instapost-content{
    width: 600px;
    margin-left: 0%;
    margin-top: 10px;
  }

  .comment-box{
    input[type=text]{
      width: 275px;
    }
  }
  
  .modal{
    margin-top: 13%;
    width: 300px;
    margin-left: 32%;
  }
}

@media only screen and (min-width: 1024px) {
  .instapost{
    width: 100%;
    margin-top: 25px;
    margin-left: 57px;
  }

  .instapost-content{
    width: 600px;
    margin-left: 0%;
    margin-top: 10px;
  }

  .comment-box{
    input[type=text]{
      width: 475px;
    }
  }
  
  .modal{
    margin-top: 8%;
    width: 400px;
    margin-left: 40%;
  }
}

@media only screen and (min-width: 1280px) {
  .instapost{
    margin-left: 115px;
  }
}