.toolbar{
  position: fixed;
  z-index:10;
}

.toolbar-content{
  display: block;
  position: fixed;
  background-color: white;
  width: 100%;
  top: 0;
  border-bottom: 1px solid black;
  ul{ 
    display: flex;
    li{
      flex:1;  
      list-style: none;
    }   
  } 
}