.toolbar{
  position: fixed;
  z-index:10;
  text-align: center;
}

.toolbar-content{
  display: block;
  position: fixed;
  background-color: black;
  width: 100%;
  top: 0;
  border-bottom: 1px solid black;
  height: 41px;
  a{
    color: aliceblue;
  }
  ul{ 
    display: flex;
    li{
      flex:1;  
      list-style: none;
      margin-top: 8px;
    }   
  } 
}

