.InstaToolbar{
    background-color: white;
    height: 77px;
    width: 100%;
    position: fixed;
    z-index: 10;
    margin-top: 8px;
    border-bottom: 1px solid #DBDBDB;
}

.InstaToolbar-content{
    display: flex;
    .insta-icons{
        margin-left: 234px;
        margin-top: 20px;
        display: flex;
        .user-logo{
          width: 25px;
          height: 30px;
          margin-left: 10px;
          margin-top: 6px;
        }
        .dropdown{
          .dropdown-toggle::after{
            content: none;
          }
          img{
            width: 25px;
            height: 30px;
            margin-left: 10px;
          }  
        }
    }
}



.InstaToolbar-logo{
    display: flex;
    .insta-logo{
        display: block;
        width: 35px;
        margin-left: 268px;
        margin-top: 23px;
        height: 27px;
    }
    .line-between{
       background-color: black;
        height: 29px;
        width: 1px;
       margin-left: 14px;
       margin-top: 22px;
    }
    .insta-head{
        width: 105px;
        height: 37px;
        margin-top: 20px;
        margin-left: 15px;
    }
}

.search{
    margin-left: 215px;
    margin-top: 20px;
    height: 33px;
    opacity: 0.7;
    
}

.search::input-placeholder { 
    font-family: FontAwesome;
    font-weight: normal;
    overflow: visible;
    vertical-align: top;
    display: inline-block !important;
    padding-left: 25px;
    padding-top: 2px;
    color: hsl(9, 40%, 60%);
}


@media only screen and (max-width: 320px) {
  .InstaToolbar-logo{
    display: flex;
    .insta-logo{
        display: block;
        width: 35px;
        margin-left: 7px;
        margin-top: 23px;
        height: 27px;
    }
  }
  
  .search{
    display: none;
  }
  
  .InstaToolbar-content{
    display: flex;
    .insta-icons{
        margin-left: 0px;
        margin-top: 15px;
        display: flex;
        .user-logo{
          width: 21px;
          height: 25px;
          margin-left: 10px;
          margin-top: 6px;
        }
        .dropdown{
          img{
            width: 21px;
            height: 25px;
            margin-left: 10px;
          }  
        }
    }
}
}
